.news-notices-container {
    height: 100%;
    border-radius: 7px;
    background: rgba(241, 241, 241, 0.50);
  }
  
  .news-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .news-header h2 {
    margin: 3;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .notices-list {
    padding: 0 15px;
  }
  
  .notice-card {
    margin: 15px 0;
    border-radius: 6px !important;
    box-shadow: none;
    background-color: white !important;
    border: none !important;
    font-size: 16px !important;
    border-bottom: 1px solid #eee;
  }
  
  .notice-card:last-child {
    border-bottom: none;
  }
  
  .notice-card p {
    margin-bottom: 5px;
  }
  
  .course-link {
    color: #2c5d7c;
    text-decoration: none;
    font-weight: 500;
    text-align: left !important;
  }
  
  .update-link {
    text-align: left;
  }
  
  .update-link a {
    color: #2c5d7c;
    font-size: 0.9rem;
    text-decoration: none;
  }
  